# Configuração do Banco de Dados
DB_USER=postgres
DB_PASSWORD=admin
DB_NAME=simple_shop
DB_HOST=localhost
DB_SSLMODE=disable

# Segurança JWT
JWT_SECRET=troque_por_uma_chave_secreta_forte

# Servidor
PORT=7000

# Ambiente (development / production)
APP_ENV=development
